content/zh-cn/.obsidian/plugins/Obsidian-editing-toolbar
content/zh-cn/.obsidian/plugins/table-editor-obsidian
content/zh-cn/.obsidian/plugins/obsidian-excel-to-markdown-table
content/zh-cn/.obsidian/workspace.json

resources/*
public/*
docs/*

node_modules/*