content/zh-cn/.obsidian/plugins/editing-toolbar
content/zh-cn/.obsidian/plugins/obsidian-image-toolkit
content/zh-cn/.obsidian/plugins/obsidian-image-auto-upload-plugin/data.json
content/zh-cn/.obsidian/workspace.json
content/zh-cn/files/

resources/*
public/*
docs/*

node_modules/*
